<footer class="footer">
    <div class="footer-link container flex">
        <div>
            <h4>About Store</h4>
            <p>U KULTURE is a retail experience created for the otakus by the otakus. We carry anime apparel, accessories, and more from the biggest names in anime like Dragon Ball Z, One piece, My Hero Academia, Naruto and many more.</p>
            <p>care@dummyemail.in</p>
        </div>
        <div>
            <ul>
                <li><h4>Best Seller</h4></li>
                <li>t-shirts</li>
                <li>Beanies</li>
                <li>Hoodies</li>
                <li>3D Poster</li>
            </ul>
        </div>
        <div>
            <ul>
                <li><h4>Company</h4></li>
                <li>Privacy Policy</li>
                <li>Terms & Condition</li>
                <li>Refund Policy</li>
                <li>Shipping Policy</li>
            </ul>
        </div>

        <div>
            <h4>Subscribe</h4>
            <p>Enter your email below to be the first to know about new collections and product launches</p>
            <div class="mail flex">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                    <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
                </svg>
                <input type="text">
                <a>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                      </svg>
                </a>
            </div>
            
        </div>
    </div>
</footer>

<script src="script.js"></script>
</body>
</html>