<%- include("partials/header.ejs") %>

<div class="container contact-layout">
    <h2>We would love to hear from you.</h2>
    <p>If you’ve got great products your making or looking to work with us then drop us a line.</p>

    <div>
        <input type="text" placeholder="Your Name*">
        <input type="email" placeholder="Your Email*">
    </div>

    <textarea name="" id="" cols="30" rows="10" placeholder="Comment"></textarea>
    <button class="submit-button">Submit Now</button>
</div>


<%- include("partials/footer.ejs") %>